<body>
  <form action="/announce" method="POST">
    <input type="text" name="title" value="제목"><br>
    <input type="text" name="announce" value="내용"><br>
    <button type="submit">submit</button>
  </form>
</body>
