<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/public/main.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %> 부트스트랩 101 템플릿</title>

	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
  <header height="20%" width="100%">
    <h1>샤니마스 DB <small>아이돌마스터 샤이니컬러즈 DB페이지입니다.</small></h1>
  </header>

  <nav width="30%" height="70%" float="left">
    <ul>
      <li><a href="#Home"></a>Home</li>
      <li>Songs</li>
      <li>Recent Change</li>
      <li>Recommend</li>
      <li>Random</li>
      <li>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Search songs">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </li>
    </ul>
  </nav>

		<hr>

		<footer>
			<p>&copy; Copyright by Edea</p>
		</footer>
	</div>
	<!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
