<div class="middleValue">
  <h3>중앙값</h3>
  <ul>
    <li>제목  -  중앙값</li>
    <% value.forEach(function(i) { %>
      <li><a href="/song/<%=i.id%>"><%=i.title%></a> - <%=i.median%></li>
    <%});%>
  </ul>
</div>
